<table class="body-wrap">
  <tr>
    <td></td>
    <td class="container" width="600">
      <div class="content">
        <table class="main" width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td class="content-wrap">
              <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="content-block">
                    Hi there,
                  </td>
                </tr>
                <tr>
                  <td class="content-block">
                    The Sandstorm App Committee voting app is now live! Let’s take a moment to set it up in 3 easy steps:
                  </td>
                </tr>
                <tr>
                  <td class="content-block">
                    Step 1) Log into your account at alpha.sandstorm.io. Don't worry if you don't have an account yet, just click "Sign In" on the top right and log in with either a Github or Google account.
                  </td>
                </tr>
                <tr>
                  <td class="content-block">
                  Step 2) Please click this button to activate your alpha.sandstorm.io account for the voting app.
                  </td>
                </tr>
                <tr>
                  <td align="center" class="content-block">
                    <a href="{{inviteLink}}" class="btn-primary">Invite Link</a>
                  </td>
                </tr>
                <tr>
                  <td class="content-block">
                    Step 3) Just kidding! There is no step 3. You’re done! Feel free to bookmark sandstorm.io/vote so you can easily return to the voting app later.
                  </td>
                </tr>
                <tr>
                  <td class="content-block">
                    Looking forward to your input! <br />
                    — Jade, Kenton, Jason, David, and Garply
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <div class="footer">
          <table width="100%">
            <tr>
              <td class="aligncenter content-block">Follow <a href="https://twitter.com/SandstormIO">@SandstormIO</a> on Twitter.</td>
            </tr>
          </table>
        </div></div>
    </td>
    <td></td>
  </tr>
</table>
